@use 'frontend/mixins';
@use 'frontend/variables';

.container {
  margin: 0 200px;
  margin-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.calcButton {
    @include mixins.button-style;
}

.resultBox {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}
