@use 'frontend/variables';

.table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: variables.$background-color;
  color: variables.$text-color;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  overflow: hidden;

  th, td {
    border: 1px solid variables.$input-border;
    padding: 0.5rem;
    text-align: left;
  }

  tr {
    cursor: pointer;
  }

  th {
    background-color: variables.$primary-color;
    color: white;
    font-weight: bold;
  }

  tbody tr.row:nth-child(even){
    background-color: rgba(
                    red(variables.$secondary-color),
                    green(variables.$secondary-color),
                    blue(variables.$secondary-color),
                    0.2
    );
  }

  tbody tr:hover {
    background-color: rgba(
                    red(variables.$primary-color),
                    green(variables.$primary-color),
                    blue(variables.$primary-color),
                    0.3
    );
    color: white;
  }
}

.data-table-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  gap: 0.5rem;

  input {
    padding: 0.5rem;
    border: 1px solid variables.$input-border;
    border-radius: variables.$border-radius;

    &:focus {
      outline: none;
      border-color: variables.$primary-color;
      box-shadow: 0 0 4px rgba(46, 125, 50, 0.4);
    }
  }

  button {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    border-radius: variables.$border-radius;
    border: none;
    background-color: variables.$primary-color;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: darken(variables.$primary-color, 10%);
    }
  }
}



