@use 'frontend/mixins';
@use "frontend/variables";

@mixin field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input {
    @include mixins.input-style;
  }

  span {
    color: variables.$error-color;
    font-size: 0.875rem;
  }

  input[type=submit] {
    cursor: pointer;
    @include mixins.button-style;
  }
}