@use './input.scss';

.field {
  @include input.field;

  select {
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    border: 1px solid #CFD8DC;
    background-color: white;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }
}