@use 'frontend/variables';

.footer {
  background-color: variables.$primary-color;
  color: white;
  padding: 1rem 0;
  margin-top: auto;

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
}
